@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #fff;
}
.container{
  width: 700px;
  background-color: #343a40;
  padding: 20px;
  margin-top: 100px;
  border-radius: 5px;

}
header{
  display: flex;
  justify-content: space-between;
}
header .date{
  color: #fff;
  font-family: "Lato",sans-serif;
  font-weight: 700;
}
header .date p{
  font-weight: 400;
  color: #00afb9;
  font-size: 14px;
}
header ul{
  list-style: none;
  display: block;
}
header ul li{
    color: #fff;
    display: inline-block;
    font-family: "Lato",sans-serif;
    cursor: pointer;
    font-weight: 400;
}
header ul li:hover{
  color: #ccc;
}
header ul li:first-child{
  margin-right: 20px;
}
form{
  margin-top: 20px;
  display: flex;
  
}
.form-control{
  width: 300px;
  height: 35px;
  padding: 5px 5px;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
.form-control:focus{
  outline: none;
}
form .btn{
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Lato",sans-serif;
  background-color: #1BBE99;
  color: #fff;
  cursor: pointer;
}

.list-group-items{
  margin-top: 40px;
  margin-bottom: 50px;
}

.list-group-item{
  list-style: none;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.list-group-item:first-child{
  border-top: 1px solid #ccc;
}
.list-group-item i{
  float: right;
  margin-left: 10px;
  cursor: pointer;
}
.list-group-item .complete{
  float: right;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: 700;
}
